/* Si la pantalla es de 600px en adelante usamos este media, si es menor a 600px usamos el de arriba */
.c1{
    width: 50%;
}
.c2 {
    width: 50%;
}
.form-container{
    width: 100%;
    margin-right: 2rem;
    height: 40rem;
}
.form {
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    width: 60%;
}